.dropdownCont {
    overflow: hidden;
    display: flex;
    margin-top: var(--navHeight);
    z-index: 1;
    position: fixed;
    width: 100vw;
}

.dropdown {
    height: 30vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding-bottom: 10px;

    div {
        margin: auto;
        margin-left: 20px;
        font-family: 'Calibri';

        a {
            margin-left: 5px;
            color: black;
        }

        svg {
            margin: auto;
        }
    }
}

@keyframes drop {
    0% {
        height: 0px;
    }

    100% {
        height: 30vh;
    }
}

.animateDrop {
    animation: drop 0.2s ease;
}